body {
    font-family: "Courier New", Courier, monospace  
}

p {
    margin: 0px 0;    
}

#smartsnake-output {
    position: fixed;
    top : 0;
    left : 0;
    bottom : 0;
    right: 30%;
    background-color: #aaaaaa;
    overflow-y: scroll;
}

#smartsnake-gameplay {
    position: fixed;
    top : 0;
    left : 30%;
    bottom : 0;
    right: 0;
    background-color: #99BB99;
}
