body {
    font-family: "Courier New", Courier, monospace  
}

p {
    margin: 0px 0;    
}

#smartsnake-output {
    position: fixed;
    top : 0;
    left : 0;
    bottom : 0;
    right: 80%;
    background-color: #EEEEEE;
    overflow-y: scroll;
}

#smartsnake-gameplay {
    position: fixed;
    top : 0;
    left : 20%;
    bottom : 0;
    right: 0;
}

.smartsnake-square {
    margin: 1px;
    border-radius: 5px;
    display: block;
    float: left;
    width: 30px;
    height: 30px;
}

.smartsnake-row {
    width: 100%;
    display: block;
    float: left;
}

#dot {
    background-color: #E3E7E8;
}

#W {
    background-color: #535E61;
}

#S {
    background-color: #5FBD57;
}

#A {
    background-color: #F74343;
}

#X {
    background-color: #356E30;
}
